html {
  box-sizing: border-box !important;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
	margin: 0;
	margin-top: 40px;
	padding: 0;
	background-color: white;
	font-size: 14px;
	font-family: FontLipiDefault, sans-serif;
	background-image: url("bg.png");
	background-size: 100%;
	
}

#wrapper {
	max-width: 1200px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}


@font-face {
  font-family: 'FontLipiDefault';
  src: url('../fonts/dejaweb-webfont.eot');
  src: url('../fonts/dejaweb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dejaweb-webfont.woff') format('woff'),
         url('../fonts/dejaweb-webfont.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal; 
}
 
.contentrow table {
	border-collapse: collapse;
}
 .contentrow td, .contentrow th {
	border-bottom: 1px solid #ddd;
	padding: 0.5em 1em 0.5em 0.25em;
}
.contentrow th {
	text-align: left;
	//color: #ff5500;
}
.contentrow ul {
	padding: 0;
	margin: 0;
	list-style: disc outside none;
	padding-left: 15px;
}
.contentrow li {
padding: 0.5em 0px 0.5em 0.5em;
}

a {
	color: #ff5500;
	text-decoration: none;
}
a:hover, a:focus {
	color: #ff8800;
	text-decoration: none;
}
a:focus {
	text-decoration: underline;
}

h1 {
	font-size: 160%;
	margin: 0;
}
h2 {
	font-size: 140%;
	margin: 0;
}
h3 {
	font-size: 120%;
	margin: 0;
}



blockquote {
	margin-left: 10px;
	border-left: 5px solid #bbb;
	padding-left: 10px;
}

hr {
	border : 0;
	width: 80%;
	background-color: #ddd;
	height: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Header */
header#mainheader {
	height: 295px;
	height: auto;
	background-image: linear-gradient(90deg, #e20513 0%, #ff8800 75%);
	position: relative;
	left: 0;
	top: 0;
	overflow: hidden;
	box-shadow:         0px 2px 4px 2px rgba(50, 50, 50, 0.75);
	
}
header#mainheader #headerlogo, header#mainheader #headerlogo2 {
	display: block;
	max-width: 800px;
	width: 90%;
	position: relative;
	top: 0px;
	left: 30px;
}
header#mainheader #headerlogo2 {
	display: none;
}
header#mainheader > div {
	height: 200px;
	position: absolute;
	top: 50px;
	right: 70px;
}
header#mainheader > div h1 > a {
	font-size: 50px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
}


/* Footer */
footer#mainfooter {
	width: 100%;
	text-align: right;
	padding: 15px;
	border-top: 1px solid #ddd;
}

#mainfooter .footermenu ul {
	list-style-type: none;
	margin: 0;
	right: 0;
}
#mainfooter .footermenu ul li {
	display: inline-block;
}
#mainfooter .footermenu ul li:after {
	content: " |";
}
#mainfooter .footermenu ul li:last-child:after {
	content: "";
}


/* Content */


div.content {
	display: table;
	overflow: hidden;
	width: 100%;
	border-collapse: separate;
}
div.contentrow {
	display: table-row;
}
div.contentrow > div {
	display: table-cell;
	padding: 15px;
}
div.cright {
	width: 350px;
}
div.part, aside.widget {
	width: 100%;
	background-color: rgba(255, 255, 255, .8);
	margin-bottom: 30px;
}

aside .widget-title {
	font-size: 110%;
	font-weight: bold;
	margin-bottom: 5px;
	
}

/* Suche */

#mainnav > form.search-form {
	position: absolute;
	top: 0;
	right: 0;
	height: 39px;
	
}
#mainnav > form.search-form span.screen-reader-text {
	display: none;
	
}
#mainnav > form.search-form input.search-submit {
	display: none;
}
#mainnav > form.search-form input.search-field {
	background-image: url('../images/search.png'), linear-gradient(90deg, #000 0%, #000 100%);
	background-repeat: no-repeat, no-repeat;
	background-position: right center, right center;
	background-size: 36px auto, 36px auto;
	width: 36px;
	border: none;
	border-left: 1px solid #ddd;
	transition: all 0.5s ease-in-out;
	color: rgba(255, 255, 255, 0);
	height: 100%;
	cursor: pointer;
	z-index: 106;
}
#mainnav > form.search-form input.search-field:hover {
		background-image: url('../images/search.png'), linear-gradient(90deg, #ff5500 0%, #ff5500 100%);
}
#mainnav > form.search-form input.search-field:focus {
	background-image: none;
	width: 150px;
	color: black;
	background-color: white;
	cursor: auto;
}


/* Navigation */
#mainnav > input[type=checkbox] {
	display: none;
}
#mainnav > label {
	display: none;
}
#mainnav {
	height: auto;
	width: 100%;
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 0px;
	z-index: 99;
	padding-left: 20px;
	box-shadow:         0px 2px 4px 2px rgba(50, 50, 50, 0.75);
}
#mainnav .subarrow {
	display: none;
}
#mainnav > div > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#mainnav > div > ul > li {
	margin: 0;
	padding: 0;
	float: left;
	overflow: visible;
	position: relative;
	left: 0;
	top: 0;
}
#mainnav > div > ul > li > a {
	color: white;
	display: block;
	height: 40px;
	line-height: 30px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: black;
}
#mainnav > div > ul > li:hover > a, #mainnav > div > ul > li > a:focus, #mainnav > div > ul > li.current-menu-item > a, #mainnav > div > ul > li.current-menu-ancestor > a {
	background-color: #ff5500;
}

#mainnav > div > ul > li > div.lvl > ul {
	display: none;
}
#mainnav > div > ul > li div.lvl > ul {
	position: absolute;
	top: 39px;
	left: 0px;
	box-shadow:         0px 2px 4px 2px rgba(50, 50, 50, 0.75);
		list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: white;
	z-index: 100;
}
#mainnav > div > ul > li:hover > div.lvl > ul, #mainnav > div > ul > li > a:focus ~  div.lvl > ul {
	display: block;

}
#mainnav > div > ul > li> $ul > li:focus {
	display: block;
}
#mainnav > div > ul > li > div.lvl > ul li {
		margin: 0;
	padding: 0;
	float: left;
	overflow: visible;
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
}
#mainnav > div > ul > li > div.lvl > ul li > ul, #mainnav > div > ul > li > div.lvl > ul li > a {
	float: left;
}
#mainnav > div > ul > li > div.lvl > ul li > a {
	color: black;
	display: inline-block;
	height: 40px;
	line-height: 30px;
	padding: 5px;
	width: 100%;
	white-space:nowrap;
}
#mainnav > div > ul > li > div.lvl > ul li:hover > a, #mainnav > div > ul > li > div.lvl > ul li.current-menu-item > a, #mainnav > div > ul > li > div.lvl > ul li.current-menu-ancestor > a {
	color: white;
	background-color: #ff5500;
}



#mainnav > div > ul > li > div.lvl ul > li > div.lvl > ul {
display: none;
}	
#mainnav > div > ul > li > div.lvl ul > li.menu-item-has-children {
	white-space:nowrap;
}
#mainnav > div > ul > li > div.lvl ul > li.menu-item-has-children > a {
	display: inline-block;
	width: 100%;
	float: none;
}
#mainnav > div > ul > li > div.lvl ul > li.menu-item-has-children > a > span:before {
	content: "►";
	float: right;
	font-size: 80%;
}
#mainnav > div > ul > li > div.lvl ul > li.menu-item-has-children > a > span:after {
	content: "";
	text-align: right;
	display: inline-block;
	width: 25px;
	padding-left: 5px;
}
#mainnav > div > ul > li > div.lvl ul > li.menu-item-has-children > div.lvl {
	float: none;
	display: inline-block;
	width: 0px;
	height: 100%;
	text-align: right;
	padding: 0;
	margin: 0;
	overflow: visible;
	position: relative;
	left: 0;
	right: 0;
}
#mainnav > div > ul > li > div.lvl ul > li:hover > div.lvl > ul {
	display: block;
}
#mainnav > div > ul > li > div.lvl ul > li > div.lvl > ul {
	
	position: absolute;
	left: -5px;
	top: -25px;
	text-align: left;
}	


.post.single {
	margin-bottom: 20px;
}
.post.single .post-meta {
	font-size: 90%;
}
.post.single .post-image {
	margin-top: 15px;
	margin-bottom: 15px;
	width:100%;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 150px;
	overflow: hidden;
	background-position:center center;
	background-size: 100% auto;
}
.post.single .post-image > img {
	width: 100%;
	height: auto;
}
.post-content {
	margin-top: 20px;
}

@media only screen and (max-width: 900px) {
	div.content {
		display: block;
	}
	div.contentrow {
		display: block;
	}
	div.contentrow > div {
		display: block;
		width: 100%;
	}
}
@media only screen and (max-width: 700px) {


	#mainheader > div {
	 display: none;
	}	
	header#mainheader {
		height: auto;
	}
	header#mainheader #headerlogo {
	display: none;
}
	header#mainheader #headerlogo2 {
		display: block;
		position: relative;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 200px;
		height: auto;
	}
	body {
		margin-top: 0;
	}

#mainnav > input[type=checkbox] {
	display: block;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
}
#mainnav > label {
	display: block;
	height: 40px;
	padding: 5px;
	color: white;
	background-color: black;
	line-height: 30px;
	text-align: left;
	
}
#mainnav > label#lmenu2 {
	display: none;
}
#mainnav {
	position: relative;
	padding-left: 0;
}
#cbmenu:checked ~ div > ul {
	max-height: 1000px;
}
#mainnav > div > ul > li:first-child:before {
	content: " ";
	display: block;
	height: 1px;
	width: 100%;
	background-color: #ddd;
}
#cbmenu:checked ~ label#lmenu2 {
	display: block;
}
#cbmenu:checked ~ label#lmenu1 {
	display: none;
}
	#mainnav > div > ul {
	
	list-style-type: none;
	margin: 0;
	padding: 0;

	width: 100%;
	position: relative;
	left: 0;
	max-height: 0;
	overflow: hidden;
	transition:max-height 0.5s ease-in-out;
}
#mainnav > div > ul > li {
	margin: 0;
	padding: 0;
	float: none;
	overflow: visible;
	position: relative;
	left: 0;
	top: 0;
	height: auto;
}
#mainnav > div > ul > li > a {
	color: white;
	display: block;
	height: 40px;
	line-height: 30px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: black;
}
#mainnav > div > ul > li.current-menu-ancestor > a {
	background-color: black;
}
#mainnav > div > ul > li:hover > a, #mainnav > div > ul > li.current-menu-item > a{
	background-color: #ff5500;
}


/* 2. ebene */
#mainnav > div > ul > li div.lvl > ul {
	display: block !important;
}
#mainnav > div > ul > li div.lvl > ul {
	position: relative;
	box-shadow:  none;
		list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: black;
	top: 0;
	left: 0;
	margin-left: 20px;
}
#mainnav > div > ul > li:hover div.lvl > ul {
	display: block;

}
#mainnav div.lvl {
	height: auto;
	width: 100% !important;
	display: block !important;
}
#mainnav > div > ul > li > div.lvl > ul li {
		margin: 0;
	padding: 0;
	float: none;
	overflow: visible;
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
}
#mainnav > div > ul > li > div.lvl > ul li > ul, #mainnav > div > ul > li > div.lvl > ul li > a {
	float: none;
}
#mainnav > div > ul > li > div.lvl > ul li > a {
	color: white;
	display: block;
	height: 40px;
	line-height: 30px;
	padding: 5px;
	width: 100%;
	white-space:nowrap;
}
#mainnav > div > ul > li > div.lvl > ul li:hover > a, #mainnav > div > ul > li > div.lvl > ul li.current-menu-ancestor > a {
	color: white;
	background-color: black;
}
#mainnav > div > ul > li > div.lvl > ul li:hover > a, #mainnav > div > ul > li > div.lvl > ul li.current-menu-item > a {
	color: white;
	background-color: #ff5500;
}
#mainnav > div > ul > li > div.lvl ul > li.menu-item-has-children > a > span:before {
	content: "";
	float: none;
	width: 0;
	height: 0;
	font-size: 80%;
}
#mainnav > div > ul > li > div.lvl ul > li.menu-item-has-children > a > span:after {
	content: "";
	text-align: right;
	display: inline-block;
	width: 0px;
	padding-left: 0px;
}
#mainnav > div > ul > li > div.lvl ul > li > div.lvl > ul {
	position: relative;
	box-shadow:  none;
		list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: black;
	top: 0;
	left: 0;
	margin-left: 20px;
}	
}